<% if @request.id == nil %>
<% @request = Request.new %>
<% else %>
  <% @user = @request.user %>
  <% friends = @user.friends %>

  <% array = [] %>

  <% friends.each do |friend| %>
  
    <% if friend.friends.where(city: @request.city).count > 1 || friend.city == @request.city %>
      <% array << friend %>
    <% end %>
  <% end %>
  
  <% array.each do |friend| %>
    
      <div class="card-friend">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-friend-infos">
          <h2><%= friend.first_name %> <%= friend.last_name %></h2>
          <p>Lives in <strong><%= friend.city %></strong></p>
          <p>Has <%= friend.friends.where(city: @request.city).count %> friends in <%= @request.city %></p>
        </div>
        
         <h2><i class="check-friend fas fa-check-circle "></i></h2>
        
    </div>
    <br>
  
    <% end %>
<% end %>