<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to dashboard_path do %>
   <%= image_tag "flatmate_logo-01.png", class: "roof-logo", alt: "Flatmate", width: 200 %>
  <% end %>

  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>


  <div class="collapse navbar-collapse navbar-links-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>

        <% @user = current_user %>
        <% if @user.requests.any? %>
          <li class="nav-item" style="margin-right: 25px;">
            <%= link_to "My Request", request_path(@user.requests.last), class: "nav-link" %>
          </li>


        <% else %>
          <li>
            <button type="button" class="navbar-button" data-toggle="modal" data-target="#exampleModal">
              Create room request
            </button>
          </li>
        <% end %>
         <li class="nav-item" style="margin-right: 25px;">
            <%= link_to "My Conversations", offers_path, class: "nav-link" %>
          </li>

        <li class="nav-item dropdown">
          <% if @user.photo %>
            <%= image_tag @user.photo, class: "avatar-nav dropdown-toggle mask", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
           <% else %>
            <%= image_tag "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
           <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%= link_to "Home", user_session_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item pb-3">
          <%= link_to "Login", new_user_session_path, class: "nav-link " %>

        </li>
      <% end %>
    </ul>
  </div>
</div>

   <% if user_signed_in? %>


<div class="modal" <%= @show_modal ? "d-block" : "d-none" %> id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Make a room request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
      <% @request = Request.new %>
            <%= simple_form_for @request do |f| %>
      <%= f.input :city , input_html: {value: "", id: "city"}, :placeholder => "e.g. Berlin" %>
      <div class="form-group integer required request_budget">
        <label class="integer required" for="request_budget">Budget
          <abbr title="required">*</abbr>
        </label>
        <div class="range-slider">
          <input class="form-control numeric integer required range-slider__range" value="0" placeholder="max. Price/month in €" type="range" step="10" min="0" max="2000" name="request[budget]" id="request_budget">
          <span class="range-slider__value">500</span><p>€</p>
        </div>
      </div>
        <hr class="solid">
      <%#= f.input :budget, input_html: {value: ""}, :placeholder => "max. Price/month in €" %>
      <%#= f.collection_select(:user_id, User.all, :city, :first_name, {:prompt => "Please Select at least one friend"}, {:multiple => true}) %>
      <div class="accordion" id="accordionExample">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              More criteria
        </button>
          <hr class="solid">
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <strong><%= f.label "Move-in Date" %> </strong>
          <br>
          <div class="move-in">
            <div class="space">
              <%= f.input :move_in_date_earliest, as: :string, input_html: { class: "flatpickr" }, label: false%>
              <%= f.label "Earliest" %>
            </div>
            <div>
              <%= f.input :move_in_date_latest, as: :string, input_html: { class: "flatpickr" }, label: false  %>
              <%= f.label "Latest" %>
            </div>
          </div>
          <hr class="solid">
          <%= f.input :address , input_html: {value: ""} , input_html: { id: "address-input" }, :placeholder => "Wanna live close to a specific place?" %>
          <%#= f.input :radius, input_html: {value: ""}, :placeholder => "What's your maximum radius? " %>
          <div class="form-group integer request_radius">
            <label class="integer" for="request_radius">Radius </label>
            <div class="range-slider">
              <input class="form-control numeric integer required range-slider__range" value="0" placeholder="What's your maximum radius?" type="range" step="1" min="0" max="50" name="request[radius]" id="request_radius">
              <span class="range-slider__value">5</span><p>km</p>
            </div>
          </div>
          <hr class="solid">
           <%= f.label "Flatmates" %>
          <div class="radio-toolbar form-inline">

          <%= f.input_field :no_of_flat_mates, as: :radio_buttons, collection: 1..6, input_html: {value: ""}, :placeholder => "What's your maximum number of flatmates?", :label => "No. of flatmates" %>
          </div>
          <%#= f.input :size, input_html: {value: ""} , :placeholder => "What's the minimum size your room should have?" %>
          <div class="form-group integer request_size">
            <label class="integer" for="request_radius">Minimum room size </label>
            <div class="range-slider">
              <input class="form-control numeric integer required range-slider__range" value="0" placeholder="What's your minimum room size?" type="range" step="1" min="0" max="50" name="request[size]" id="request_size">
              <span class="range-slider__value">5</span><p>sqm</p>
            </div>
          </div>

        </div>
      </div>
      </div>
      <div class="modal-footer">

        <%= f.submit "Make Request", class: "btn btn-secondary" %>
 <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>


<script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
<script>
  var placesAutocomplete = places({
    appId: 'plR3BORFEJ9P',
    apiKey: '3123c82725474d7daa0eec1032c92cea',
    container: document.querySelector('#address-input'),
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
<script>
  var placesAutocomplete = places({
    appId: 'plR3BORFEJ9P',
    apiKey: '3123c82725474d7daa0eec1032c92cea',
    container: document.querySelector('#city'),
    templates: {
      value: function(suggestion) {
        return suggestion.name;
      }
    }
  }).configure({
    type: 'city',
    aroundLatLngViaIP: false,
  });

</script>
