<div class="request-table">
  <table class="table table-hover">

  <tbody>
    <tr style="background: rgba(3, 11, 82, 0.02)">
      <th scope="row">City</th>
      <td class="push-right"><%= @request.city %></td>
    </tr>

    <tr>
      <th scope="row">Budget</th>
      <td class="push-right"><%= @request.budget %> €</td>
    </tr>
    <% if @request.move_in_date_earliest %>
        <tr>
        <th scope="row">Earliest move-in date</th>
        <td><%= @request.move_in_date_earliest %></td>
      </tr>
    <% end %>

      <% if @request.move_in_date_latest %>
        <tr>
        <th scope="row">Latest move-in date </th>
        <td class="push-right"><%= @request.move_in_date_latest %></td>
      </tr>
    <% end %>

    <% unless @request.address == "" || @request.address == nil %>

        <tr>
        <th scope="row">Address</th>
        <td class="push-right"><%= @request.address %></td>
      </tr>
    <% end %>

      <% if @request.radius%>
        <tr>
        <th scope="row">Radius</th>
        <td class="push-right"><%= @request.radius %> km</td>
      </tr>
    <% end %>

    <% if @request.no_of_flat_mates%>
        <tr>
        <th scope="row">Max. number of flatmates</th>
        <td class="push-right"><%= @request.no_of_flat_mates %></td>
      </tr>
    <% end %>

      <% if @request.size%>
        <tr>
        <th scope="row">Min. room size</th>
        <td class="push-right"><%= @request.size %> sqm</td>
      </tr>
    <% end %>

    <tr>
      <th scope="row">Friends</th>
      <td>
        <% if @request.private_shares.empty? %>
          <p>You haven't asked your friends for help yet</p>
          <button type="button" class="blue-button rounded" data-toggle="modal" data-target="#friendsModal">
            Ask friends for help
          </button>
        <% else %>

          <div class="show-friends">
            <% private_shares = @request.private_shares %>
            <% private_shares.each do |share| %>
              <% if share.user.photo %>
                <div class="profile">
                  <div class="imgBx">
                    <%= image_tag share.user.photo %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

          <button type="button" class="green-button rounded mt-2" data-toggle="modal" data-target="#friendsModal">
            Ask more friends for help
          </button>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
