
<%# ---------------------------------%>
<%# if current user is request-maker %>
<% if @request.user == current_user %>
  <div class="container show-container">
    <h1><span class="underline--magical w-auto">My Room Request</span></h1>
    <div class="row" style="<%= "width: 80% !important" if !@request.offers.empty? %>">
      <div class="column column50">

        <div class="position-relative table-column">
          <div class="request-title position-absolute">

            <button type="button" class="no-style-button" data-toggle="modal" data-target="#editModal"><i class="fas fa-pen"></i></button>
            <div>
              <%= link_to request_path(@request), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
          </div>
          <div class="request-image" style="background-image: url(https://source.unsplash.com/1200x630/?<%=@request.city%>,sights);"></div>
          <div>
            <%= render "/requests/request_table" %>
          </div>
        </div>
      </div>

      <div class="column right offer-all">
        <h4 style="<%= "text-align: left" if !@request.offers.empty? %>">My Responses</h4>
        <% if @request.offers.empty? %>
          <p>Sorry, no responses yet, but why not help some friends around the world?</p>
          <%= link_to dashboard_path do %>
          <br>
          <br>
          <%= image_tag "help.svg" %>
          <h6>Help friends</h6>
          <% end %>
        <% else %>
          <% offers = @request.offers %>
          <% offers.each do |offer| %>
            <div class="card-friend mb-3">
              <% creator = User.find_by_id(offer.creator_id) %>
              <% if creator.photo%>
                <%= image_tag creator.photo %>
              <% else %>
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <% end %>
              <div class="card-friend-infos">
                <p><%= creator.first_name %> <%= creator.last_name %> sent you a response.</p>
                <p><%= link_to "Check it out", request_offer_path(@request, offer), class: "btn btn-secondary" %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <%# ---------------------------------%>
  <%# if current user is not request-maker %>
<% else %>
    <div class="show-request container ">
      <div class="d-flex justify-content-around align-items-center">
        <h1>Help <%= @request.user.first_name %> <%= @request.user.last_name %> find a room</h1>
      </div>
      <div>
        <br>
        <br>
        <ul>
        <div class="image-placeholder-absolute">
                    <div style="padding-top: 100%; background-color: rgb(218, 210, 209);">
                      <picture nopin="nopin">
                        <%= image_tag @request.user.photo %>
                      </picture>
                    </div>
                  </div>
        <% private_share = current_user.private_shares.where(request: @request)[0] %>
           <% if private_share %>
            <% if @request.offers.any? { |offer| offer.creator_id == current_user.id } %>
              <p>You already made an offer.</p>
            <% else %>
            <li class="btn-offer btn-success btn white-link blue-hover"><%= link_to "Respond to request", new_request_offer_path(@request) %></li>
          <% end %>
            <% if private_share.privacy_level %>
              <li class="btn-offer btn-primary btn white-link" style="margin-right: 0.5rem;"><%= link_to "Reshare request", new_request_private_share_path(@request) %></li>
            <% end %>
          <% end %>
          </ul>

      <div class="request-table">

      <div>
        <%= image_tag "https://source.unsplash.com/1200x630/?#{@request.city},sights", class: "request-image" %>
      </div>

        <table class="table table-hover">
          <tbody>
            <tr style="background: rgba(3, 11, 82, 0.02)">
              <th scope="row">City</th>
              <td><%= @request.city %></td>
            </tr>

            <tr>
              <th scope="row">Budget</th>
              <td><%= @request.budget %> €</td>
            </tr>
            <% if @request.move_in_date_earliest %>
                <tr>
                <th scope="row">Earliest move-in date</th>
                <td><%= @request.move_in_date_earliest %></td>
              </tr>
            <% end %>

              <% if @request.move_in_date_latest %>
                <tr>
                <th scope="row">Latest move-in date </th>
                <td><%= @request.move_in_date_latest %></td>
              </tr>
            <% end %>

            <% unless @request.address == "" || @request.address == nil %>

                <tr>
                <th scope="row">Address</th>
                <td><%= @request.address %></td>
              </tr>
            <% end %>

              <% if @request.radius%>
                <tr>
                <th scope="row">Radius</th>
                <td><%= @request.radius %> km</td>
              </tr>
            <% end %>

            <% if @request.no_of_flat_mates%>
                <tr>
                <th scope="row">Max. number of flatmates</th>
                <td><%= @request.no_of_flat_mates %></td>
              </tr>
            <% end %>

              <% if @request.size%>
                <tr>
                <th scope="row">Min. room size</th>
                <td><%= @request.size %> sqm</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

<%# -------------------------  %>
<%# edit request modal  %>

  <div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit room request</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @request do |f| %>
            <%= f.input :city , input_html: {value: "", id: "city"}, :placeholder => "e.g. Berlin" %>
            <%= f.input :budget, :placeholder => "max. price/month in €" %>
            <div class="accordion" id="accordionExample">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    More criteria
              </button>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <strong><%= f.label "Move-in Date" %> </strong>
                <br>
                <%= f.label "Earliest" %>
                <%= f.input :move_in_date_earliest, as: :string, input_html: { class: "flatpickr" }, label: false%>
                <%= f.label "Latest" %>
                <%= f.input :move_in_date_latest, as: :string, input_html: { class: "flatpickr" }, label: false  %>
                <%= f.input :address , input_html: {value: ""} , input_html: { id: "address-input" }, :placeholder => "Wanna live close to a specific place?" %>
                <%= f.input :radius, input_html: {value: ""}, :placeholder => "What's your maximum radius? " %>
                <%= f.input :no_of_flat_mates, input_html: {value: ""}, :placeholder => "What's your maximum number of flatmates?" %>
                <%= f.input :size, input_html: {value: ""} , :placeholder => "What's the minimum size your room should have?" %>
              </div>
            </div>
            <%= f.submit "Submit", class: "blue-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @request.private_shares.empty? %>
  <% @show_modal = "d-block" %>
<% else %>
  <% @show_modal = "modal" %>
<% end %>
<!-- Modal -->
<div class="modal <%= @show_modal %> grey-background" id="friendsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ask friends for help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
        <%= render "shared/friends" %>
        </div>
      </div>
    </div>
  </div>
</div>
