<div class="container">
  <div class="d-flex justify-content-around align-items-center">
    <h1>Your Room Search for <%= @request.city %></h1>
    <div>
      <%= link_to "Delete request",
      request_path(@request),
      method: :delete,
      data: { confirm: "Are you sure?" } %></div></h1>
    </div>
  
  <div>
    <br>
    <br>
    <table class="table table-hover">

    <tbody>
      <tr>
        <th scope="row"></th>
        <td><strong>City</strong></td>
        <td><%= @request.city %></td>
      </tr>

      <tr>
        <th scope="row"></th>
        <td><strong>Budget</strong></td>
        <td><%= @request.budget %> €</td>
      </tr>
     <% if @request.move_in_date_earliest %>
         <tr>
        <th scope="row"></th>
        <td><strong>Earliest move-in date</strong></td>
        <td><%= @request.move_in_date_earliest %></td>
      </tr>
     <% end %>

      <% if @request.move_in_date_latest %>
         <tr>
        <th scope="row"></th>
        <td><strong>Latest move-in date </strong></td>
        <td><%= @request.move_in_date_earliest %></td>
      </tr>
     <% end %>

     <% if @request.address %>
        <tr>
        <th scope="row"></th>
        <td><strong>Address</strong></td>
        <td><%= @request.address %></td>
      </tr>
     <% end %>

      <% if @request.radius%>
        <tr>
        <th scope="row"></th>
        <td><strong>Radius</strong></td>
        <td><%= @request.radius %> km</td>
      </tr>
     <% end %>

     <% if @request.no_of_flat_mates%>
        <tr>
        <th scope="row"></th>
        <td><strong>Max. number of flatmates</strong></td>
        <td><%= @request.no_of_flat_mates %></td>
      </tr>
     <% end %>

       <% if @request.size%>
        <tr>
        <th scope="row"></th>
        <td><strong>Min. room size</strong></td>
        <td><%= @request.size %> sqm</td>
      </tr>
     <% end %>
      </tbody>
    </table>
  </div>



  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
  Edit request
  </button>
  <br>
  <br>
  <% if @request.private_shares.empty? %>
    <h4>You haven't asked your friends for help yet. Do it now and let them connect you with people you'll love. </h4>
    <%= link_to "Ask friends for help", new_request_private_share_path(@request)  %>
  <% else %>
    <h4>You have asked the following friends for help:</h4>
    <br>
    <% private_shares = @request.private_shares %>

    <% private_shares.each do |share| %>
        
          <div class="card-friend">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-friend-infos">
              <h2><%= share.user.first_name %> <%= share.user.last_name %></h2>
              <p>Lives in <strong><%= share.user.city %></strong></p>
              <p>Has <%= share.user.friends.where(city: @request.city).count %> friends in <%= @request.city %></p>
            </div>
            
        </div>
        <br>
        <% end %>
  <%= link_to "Ask more friends for help", new_request_private_share_path(@request)  %>
  <% end %>
  </div>





<!-- Modal -->
<div class="modal" id="friendsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose friends</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
        
            <% @user = @request.user %>
  <% friends = @user.friends %>

  <% array = [] %>

  <% friends.each do |friend| %>
    <% if friend.friends.where(city: @request.city).count > 1 || friend.city == @request.city %>
      <% array << friend %>
    <% end %>
  <% end %>
  
  <% array.each do |friend| %>
    
      <div class="card-friend">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-friend-infos">
          <h2><%= friend.first_name %> <%= friend.last_name %></h2>
          <p>Lives in <strong><%= friend.city %></strong></p>
          <p>Has <%= friend.friends.where(city: @request.city).count %> friends in <%= @request.city %></p>
        </div>
        
         <h2><i class="check-friend fas fa-check-circle "></i></h2>
        
    </div>
    <br>
  
    <% end %>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



  