<% @user = current_user %>
<div class="container">
  <div class="row">
    <div class="column">
      <div class="card1">
        <div class="heading">
          <h3>Your open request</h3>
        </div>
        <% if @my_requests.empty? %>
          <p>You haven't created any requests yet.</p>
          <%# @my_requests.each do |request| %>
        <% else %>
          <div class="content align-items-end">
            <% request = @my_requests.last %>
            <div class="d-flex justify-content-start align-items-center mb-5">
              <i class="fas fa-map-marked-alt mr-3"></i><p><%= request.city %></p>
              </div>
              <div class="d-flex justify-content-start align-items-center">
              <i class="fas fa-coins mr-4"></i><p><%= request.budget %> €</p>
              </div>
            <%# end %>
          </div>
            <div class="d-flex justify-content-center mt-6">
              <%= link_to "See more", request_path(request)%>
            </div>
          <% end %>
      </div>
    </div>
  <div class="column">
  
    <div class="card2">
      <h3>Your offers</h3>
      <%# @my_offers.flatten.each do |offer| %>
      <% if @my_requests.empty? %>
        <p>You don't have any offers yet.</p>
      <% else %>
        <% offers = request.offers %>  
        <% if offers.empty?  %>
          <p>You don't have any offers yet.</p>
        <% else %>
        
          <% offers.each do |offer| %>
            <div class="card-friend">
                <% creator = User.find_by_id(offer.creator_id) %>
                <% if creator.photo%>
                  <%= image_tag creator.photo %>
                <% else %>
                  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                <% end %>
                <div class="card-friend-infos">
                  <p><%= creator.first_name %> <%= creator.last_name %> sent you an offer.</p>
                   <p><%= link_to "View offer", request_offer_path(offer.request, offer) %></p>
                </div>
              </div>
            
           
          <% end %>
          
        <% end %>
      <% end %>
    </div>

    <div class="card3">
      <h3>Friends asking for help</h3>
       
      <% shares = @user.private_shares %>
      <% if shares.empty? %>
        <p>Nobody has asked you for help yet. </p>
      <% else %>
     
        <% shares.each do |share| %>
          <% request = share.request %>
          <% sharer = User.find(share.sharer_id)%>
          <% reshare = sharer != request.user %>
          <div class="card-friend status-notification">
            <%# Request is new or offer has been made already? %>
              <% if request.offers.any? { |offer| offer.creator_id == @user.id } %>
                <span class="status-label orange">CONTACTED</span>
              <% elsif share.shared %>
                <span class="status-label orange">SHARED</span>
              <% else %>
                <span class="status-label green">NEW</span>
              <% end %>
              <%#  %>
            <% if share.request.user.photo %>
              <%= image_tag share.request.user.photo %>
            <% else %>
            <img src="https://t4.ftcdn.net/jpg/00/64/67/63/240_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg">
            <% end %>
            <% if reshare %>
              <div class="image-placeholder-reshare">
                <div style="padding-top: 100%; background-color: rgb(218, 210, 209);">
                  <picture nopin="nopin">
                    <%= image_tag sharer.photo %>
                  </picture>
                </div>
              </div>
            <% end %>
            <div class="card-friend-infos">
              <% if reshare %>
                <p><%= sharer.first_name %> thinks you could help <strong><%= share.request.user.first_name %></strong> find a room.</p>
                <p><%= link_to "View request", request_path(request) %></p>
              <% else %>
                <p><strong><%= share.request.user.first_name %> <%= share.request.user.last_name %></strong> is looking for a room.</p>
                <p>Can you help?</p>
                <p><%= link_to "View request", request_path(request) %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
     
    </div>
 
</div>
</div>
</div>


