<% @user = current_user %>
<% shares = @user.private_shares %>
<div class="container">
<h1>Newsfeed</h1>
  <div class="container">
    <% unless shares.empty? %>
      <div class="timeline-item no-dot">
        <div class="section-headline">
          <h3>Friends asking you for help</h3>
        </div>
      </div>
      <% shares = @user.private_shares %>
      <% if shares.all? { |share| (share.request.offers.any? { |offer| offer.creator_id == @user.id }) || share.shared } %>
      <div class="timeline-item no-dot all-done ">
        <%= image_tag "helper.svg" %>
        <p>Wonderful, you have helped all your friends</p>
      </div>
      <% else %>
        <% shares.each do |share| %>
          <% unless share.request.offers.any? { |offer| offer.creator_id == @user.id } || share.shared  %>
            <% request = share.request %>
            <% sharer = User.find(share.sharer_id)%>
            <% reshare = sharer != request.user %>
            <% city = request.city %>
            <% city_url = "https://source.unsplash.com/1200x630/?#{city},sights" %>
            <div class="timeline-item">
              <div class="item-head higher">
                <% if reshare %>
                  <div class="image-placeholder-absolute">
                    <div style="padding-top: 100%; background-color: rgb(218, 210, 209);">
                      <picture nopin="nopin">
                        <%= image_tag sharer.photo %>
                      </picture>
                    </div>
                  </div>
                <% end %>
                <div class="requester image-placeholder-absolute">
                  <div style="padding-top: 100%; background-color: rgb(218, 210, 209);">
                    <picture nopin="nopin">
                      <%= image_tag request.user.photo %>
                    </picture>
                  </div>
                </div>
                <i class="fas fa-map-marker">  <%= request.city %></i>
              </div>
              <div class="content-wrapper">
                <%= link_to request_path(request) do %>
                  <div class="news-card">
                    <div class="news-card__card-link"></div>
                    <%= image_tag city_url %>
                    <div class="news-card__text-wrapper">
                    <% if reshare %>
                      <p><%= sharer.first_name %> thinks you could help <strong><%= share.request.user.first_name %></strong> find a room. </p>
                    <% else %>
                      <p> <strong><%= share.request.user.first_name %></strong> wants your help finding a room.  </p>
                    <% end %>
                    <h5>View request</h5>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>   
      <% end %>
    <% end %>
    <div class="timeline-item no-dot">
      <hr class="solid">
    </div>
    <% friends = @user.friends %>
    <% moves = [] %>
    <% friends.each do |friend| %>
      <% moves << friend.requests.last if friend.requests.last %>
    <% end %>

    <% moves.each do |move| %>
      <% friend = move.user %>
      <% move_from = friend.city %>
      <% move_to = move.city %>
      <% from_url = "https://source.unsplash.com/1200x630/?#{move_from},sights" %>
      <% to_url = "https://source.unsplash.com/1200x630/?#{move_to},city" %>

      <div class="timeline-item">
        <div class="item-head">
          <div class="friend image-placeholder-absolute">
            <div style="padding-top: 100%; background-color: rgb(218, 210, 209);">
              <picture nopin="nopin">
                <%= image_tag friend.photo %>
              </picture>
            </div>
          </div>
          <div class="card-test">
            <div class="details">
              <h5 class="news-card__title"><%= friend.first_name %> wants to move from <%= move_from %> to <%= move_to %> </h5>
             <%= link_to "Can you help?", request_path(move) %>
            </div>
            <div class="masked">
              <%= image_tag from_url %>
            </div>
            <div class="masked-reverse">
              <%= image_tag to_url %>
            </div>
          </div>
        </div>
      </div>

      

    <% end %>
  </div>
  </div>



