<% creator = User.find_by_id(@offer.creator_id) %>
          <div class="connection-chain flex">
            <% private_share = @offer.request.private_shares.where(user: current_user)[0] %>
            <div class="row" style="align-items: center">
              <div class="col">
                <div class="image-placeholder left-side ">
                  <div style="padding-top: 100%; background-color: rgb(218, 210, 209);">
                    <picture nopin="nopin">
                      <% if current_user.photo %>
                        <%= image_tag current_user.photo%>
                      <% else %>
                        <img src="https://t4.ftcdn.net/jpg/00/64/67/63/240_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg">
                      <% end %>
                    </picture>
                  </div>
                  <p>You</p>
                </div> 
                
              </div>
              <div class="col">
              
                <% if private_share.sharer_id != @offer.request.user.id %>
                  <% sharer = User.find(private_share.sharer_id) %>
                  <%= image_tag "dot.png", class: "dot1"%>
                  <%= image_tag "kringel.png", class: "connection-left"%>
                  <%= image_tag "dot.png", class: "dot2"%>
                  <div class="image-placeholder middle">
                    <div style="padding-top: 100%; background-color: rgb(218, 210, 209);">
                      <picture nopin="nopin">
                        <% if sharer.photo %>
                          <%= image_tag sharer.photo%>
                        <% else %>
                          <img src="https://t4.ftcdn.net/jpg/00/64/67/63/240_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg">
                        <% end %>
                      </picture>
                    </div>
                    <p><%= sharer.first_name %></p>
                  </div> 
                  <%= image_tag "dot.png", class: "dot3"%>
                  <%= image_tag "kringel.png", class: "connection-right"%>
                  <%= image_tag "dot.png", class: "dot4"%>
                <% else %>
                <div>
                <%= image_tag "dot.png", class: "dot"%>
                <%= image_tag "kringel.png", class: "connection" %>
                <%= image_tag "dot.png", class: "dot-left"%>
                </div>
             

                <% end %>
              </div>
              <div class="col">
                <% requester = @offer.request.user %>
                 <div class="image-placeholder right-side">
                  <div style="padding-top: 100%; background-color: rgb(218, 210, 209);">
                    <picture nopin="nopin">
                      <% if requester.photo %>
                        <%= image_tag requester.photo%>
                      <% else %>
                        <img src="https://t4.ftcdn.net/jpg/00/64/67/63/240_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg">
                      <% end %>
                    </picture>
                  </div>
                  <p><%= requester.first_name %></p>
                </div> 
                
              </div>
            </div>
            <% if private_share.sharer_id != @offer.request.user.id %>
              <p class="upper"><%= sharer.first_name %> connected you.</p>
            <% end %>
          </div>