<% creator = User.find_by_id(@offer.creator_id) %>
<div class="connection-chain flex">
  <% private_share = @offer.request.private_shares.where(user: creator)[0] %>
  <div class="row" style="align-items: center">
    <div class="col">
      <div class="person">
        <%= image_tag current_user.photo, class: "avatar-bordered", alt: "avatar-bordered" %>
        <p> You </p>
      </div>
    </div>
    <div class="col">
      <% if private_share.sharer_id != current_user.id %>
        <div class="person">
          <%= image_tag User.find(private_share.sharer_id).photo, class: "avatar-bordered ", alt: "avatar-bordered" %>
          <p> <%= User.find(private_share.sharer_id).first_name %></p>
        </div>
      <% else %>
        <p style="align-items: center"></p>
      <% end %>
    </div>
    <div class="col">
      <div class="person">
        <%= image_tag creator.photo, class: "avatar-bordered", alt: "avatar-bordered" %>
        <p><%= creator.first_name %></p>
      </div>
    </div>
  </div>
</div>
