<div class="container new-request">
  <div class="d-flex">
    <div class="request-card">
      <div class="image-placeholder-absolute">
        <div style="padding-top: 100%; background-color: rgb(218, 210, 209);">
          <picture nopin="nopin">
            <% if @request.user.photo %>
              <%= image_tag @request.user.photo%>
            <% else %>
              <img src="https://t4.ftcdn.net/jpg/00/64/67/63/240_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg">
            <% end %>
          </picture>
        </div>
      </div>
      <h3><%= @request.user.first_name %> <%= @request.user.last_name %></h3>
      <h4>Is looking for a room in <%= @request.city %></h4>
      <div class="request-table">
        <table class="table table-hover">
          <tbody>
            <tr style="background: rgba(3, 11, 82, 0.02)">
              <th scope="row">City</th>
              <td><%= @request.city %></td>
            </tr>

            <tr>
              <th scope="row">Budget</th>
              <td><%= @request.budget %> €</td>
            </tr>
            <% if @request.move_in_date_earliest %>
                <tr>
                <th scope="row">Earliest move-in date</th>
                <td><%= @request.move_in_date_earliest %></td>
              </tr>
            <% end %>

              <% if @request.move_in_date_latest %>
                <tr>
                <th scope="row">Latest move-in date </th>
                <td><%= @request.move_in_date_latest %></td>
              </tr>
            <% end %>

            <% unless @request.address == "" || @request.address == nil %>

                <tr>
                <th scope="row">Address</th>
                <td><%= @request.address %></td>
              </tr>
            <% end %>

              <% if @request.radius%>
                <tr>
                <th scope="row">Radius</th>
                <td><%= @request.radius %> km</td>
              </tr>
            <% end %>

            <% if @request.no_of_flat_mates%>
                <tr>
                <th scope="row">Max. number of flatmates</th>
                <td><%= @request.no_of_flat_mates %></td>
              </tr>
            <% end %>

              <% if @request.size%>
                <tr>
                <th scope="row">Min. room size</th>
                <td><%= @request.size %> sqm</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card card-make-offer">
      <h3>Make an offer</h3>
      <div class="">
        <%= simple_form_for [@request, @offer] do |f| %>
          <%= f.input :first_message, :label => "Send a message", :input_html => {:rows => 10}%>
          <%= f.submit "Send", class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

