<div class="chatroom">

  <div>
    <div id="messages" data-chatroom-id="<%= @offer.id %>">
      <%= @offer.first_message %>
      <% @offer.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%= simple_form_for [ @offer, @message ], remote: true do |f| %>
      <%= f.input :content, label: false %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
