<h1>#<%= @offer.id %></h1>
<div id="messages" data-offer-id="<%= @offer.id %>">
  <% @offer.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.sender.first_name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>
