<div class="container">
  <% creator = User.find_by_id(@offer.creator_id) %>
  <% @user = User.find(@offer.creator_id) %>
  <div class="row">
    <div class="col">
      <%= render "connection_chain" %>
      <h2 style="text-align: center; color:#0A1C52; font-family:Quicksand, sans-serif; margin-top: 1rem; margin-bottom:1rem;">Request Information</h1>
      <div class="request-table">
        <table class="table table-hover">
          <tbody>
            <tr style="background: rgba(3, 11, 82, 0.02)">
              <th scope="row">City</th>
              <td><%= @request.city %></td>
            </tr>

            <tr>
              <th scope="row">Budget</th>
              <td><%= @request.budget %> €</td>
            </tr>
            <% if @request.move_in_date_earliest %>
                <tr>
                <th scope="row">Earliest move-in date</th>
                <td><%= @request.move_in_date_earliest %></td>
              </tr>
            <% end %>

              <% if @request.move_in_date_latest %>
                <tr>
                <th scope="row">Latest move-in date </th>
                <td><%= @request.move_in_date_latest %></td>
              </tr>
            <% end %>

            <% unless @request.address == "" || @request.address == nil %>

                <tr>
                <th scope="row">Address</th>
                <td><%= @request.address %></td>
              </tr>
            <% end %>

              <% if @request.radius%>
                <tr>
                <th scope="row">Radius</th>
                <td><%= @request.radius %> km</td>
              </tr>
            <% end %>

            <% if @request.no_of_flat_mates%>
                <tr>
                <th scope="row">Max. number of flatmates</th>
                <td><%= @request.no_of_flat_mates %></td>
              </tr>
            <% end %>

              <% if @request.size%>
                <tr>
                <th scope="row">Min. room size</th>
                <td><%= @request.size %> sqm</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div class="chatroom">
        <% @user = User.find(@offer.creator_id) %>
        <div>
          <% if @offer.status === "pending" %>
            <div id="messages" data-chatroom-id="<%= @offer.id %>">
              <i class="author">
                <span><%= @user.first_name%></span>
                <small><%= @offer.created_at.strftime("%a %b %e at %l:%M%p") %></small>
              </i>
              <p><%= @offer.first_message %></p>

              <%= simple_form_for [ @offer, @message ], remote: true do |f| %>
                <%= f.input :content, label: false %>
                <div class="d-flex" style="justify-content: flex-end; margin-top: 8px;">
                  <button value="declined" name="status" class="btn-offer btn-danger btn-lg white-link" style="justify-content: flex-end;">Decline</button>
                  <button value="accepted" name="status" class="btn-offer btn-success btn-lg white-link" style="justify-content: flex-end; margin-left: 4px">Accept</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% elsif @offer.status === "declined"%>
        <div id="messages" data-chatroom-id="<%= @offer.id %>">
          <i class="author">
            <span><%= @user.first_name%></span>
            <small><%= @offer.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </i>
          <p><%= @offer.first_message %></p>
          <% @offer.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>
        <p>THe offer was declined</p>
      <% elsif @offer.status === "accepted" %>
        <div id="messages" data-chatroom-id="<%= @offer.id %>">
          <i class="author">
            <span><%= @user.first_name%></span>
            <small><%= @offer.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </i>
          <p>Initial Message: <%= @offer.first_message %></p>
          <% @offer.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>
      <% end %>

      <% if @offer.status == "accepted" %>
        <%= simple_form_for [ @offer, @message ], remote: true do |f| %>
          <%= f.input :content, label: false %>
          <%= f.button :submit, "Send Message", class: "btn btn-message" %>
        <% end %>
      <% end %>

      <% if @offer.status.nil? %>
        <%= simple_form_for [ @offer, @message ], remote: true do |f| %>
          <%= f.input :content, label: false %>
          <%= f.button :submit, "Send Message", class: "btn btn-message" %>
        <% end %>
      <% end %>

      </div>
    </div>
  </div>
</div>

