<div class="container">
  <div class="offer-show">
    <% creator = User.find_by_id(@offer.creator_id) %>  
    <%= render "connection_chain" %>
    <div class="card-friend-offer" >
      <% if @offer.status == "pending"  %>
        <% if creator.photo %>
          <%= image_tag creator.photo%>
        <% else %>
          <img src="https://t4.ftcdn.net/jpg/00/64/67/63/240_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg">
        <% end %>
        <div class="class-friend-offer-infos" style="padding-left: 1rem; padding-right: 1rem;">
          <h2><%= creator.first_name %> <%= creator.last_name %> sent you an offer!</h2>
          <h5><%= @offer.first_message %></h5>
          <div class="d-flex">
            <ul style="list-style: none;">
              <li class="btn-offer btn-danger btn-lg white-link" style="margin-right: 0.5rem;"><%= link_to "Decline",  request_offer_decline_path(@request, @offer), method: :post%></li>
              <li class="btn-offer btn-success btn-lg white-link blue-hover"><%= link_to "Accept",  request_offer_accept_path(@request, @offer), method: :post%></li>
            </ul>
          </div>
        <%  else %>
          <% creator = User.find_by_id(@offer.creator_id) %>
           <% if creator.photo %>
          <%= image_tag creator.photo%>
          <% else %>
            <img src="https://t4.ftcdn.net/jpg/00/64/67/63/240_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg">
          <% end %>
          <div class="class-friend-offer-infos" style="padding-left: 1rem; padding-right: 1rem;">
            <h2><%= creator.first_name %> <%= creator.last_name %> sent you an offer!</h2>
            <h5><%= @offer.first_message %></h5>
            <div class="d-flex">
              <ul style="list-style: none;">
                <li class="btn-offer btn-danger btn-lg white-link" style="margin-right: 0.5rem;"><%= link_to "Decline",  request_offer_decline_path(@request, @offer), method: :post%></li>
                <li class="btn-offer btn-success btn-lg white-link blue-hover"><%= link_to "Accept",  request_offer_accept_path(@request, @offer), method: :post%></li>
              </ul>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
