<!DOCTYPE html>
<html>
  <head>
    <title>Flatmate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <meta property="og:title" content="Flatmate - Connecting you to your new home through your trusted network" />
    <meta property="og:url" content="http://www.trustedflatmates.com/" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Use your and your friends connections to find the right people to live with." />
    <meta property="og:image" content="https://images.pexels.com/photos/4781426/pexels-photo-4781426.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=630&w=1200" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <%= favicon_link_tag asset_path('logo_roof.png') %>
  </head>

  <body>
    <div class="page-container" id="particles-js">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>

      <%= yield %>

      <%= render 'shared/footer' %>
    </div>
    <script src="particles.js"></script>
  </body>
</html>
